<div class="mt-5">
  <form method="POST" action="">
    <div class="form-group">
      <label for="name-input">Họ và tên</label>
      <input type="text" name="name" class="form-control" id="name-input" placeholder="Nhập họ và tên ...">
    </div>
    <div class="form-group">
      <label for="email-input">Email</label>
      <input type="text" name="email" class="form-control" id="email-input" placeholder="Nhập email ...">
    </div>
    <div class="form-group">
      <label for="gender-input">Gender</label>
      <select name="gender" class="form-control" id="gender-input">
        <option value="male">-- Chọn giới tính --</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Submit</button>
  </form>
</div>
